<div id="bullets" class="bullets-list" data-controller="pagination">
  <% selected_date = local_assigns.fetch(:selected_date, Date.current) %>
  <% if bullets.none? %>
    <%= render "bullets/empty_state" %>
  <% else %>
    <% bullets.each do |bullet| %>
      <%= render bullet %>
    <% end %>
  <% end %>
  <% unless page.last? %>
    <% next_page_path = bullets_path(page: page.next_param, date: selected_date.iso8601) %>
    <%= link_to next_page_path,
        class: "pagination-trigger",
        data: { pagination_target: "nextPageLink", preload: page.first? } do %>
      <i class="icon icon--spin" style="--icon-mask: var(--icon-spinner)" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>
