<%= turbo_frame_tag "streams_panel" do %>
  <h1>Streams</h1>

  <div>
    <%= link_to "All Cards", cards_path,
          data: { turbo_frame: "cards_panel", turbo_action: "advance" } %>
  </div>

  <% @streams.each do |stream| %>
    <div>
      <%= link_to stream.name, stream_path(stream),
            data: { turbo_frame: "cards_panel", turbo_action: "advance" } %>
    </div>
  <% end %>

  <p><%= link_to "New stream", new_stream_path,
        data: { turbo_frame: "modal", turbo_action: "advance", action: "dialog#open" } %></p>
<% end %>
