<div class="bullets-timeline">
  <div class="bullets-timeline-header">
    <div class="bullets-timeline-header-group">
      <%= link_to "Today", bullets_path, class: "button-tertiary" %>
    </div>
    <h2 class="bullets-timeline-header-date">History</h2>
    <div class="bullets-timeline-header-group">
      <%= link_to search_path, class: "button-secondary", data: { turbo_frame: "_top" } do %>
        <i class="icon" style="--icon-mask: var(--icon-search)" aria-hidden="true"></i>
        Search
      <% end %>
      <%= link_to triage_path, class: "button-secondary", data: { turbo_frame: "_top" } do %>
        <i class="icon" style="--icon-mask: var(--icon-circle-check)" aria-hidden="true"></i>
        Triage
      <% end %>
    </div>
  </div>

  <%= render "bullets/paginated_list", bullets: @bullets, page: @page %>

  <div class="bullets-timeline-composer">
    <p class="bullets-timeline-note text-sm">You are browsing history. Switch to Today to capture new bullets.</p>
  </div>
</div>
