<div id="<%= dom_id(event) %>" class="bullet" data-bullet-type="event">
  <div class="bullet-action">
    <span class="completion-placeholder" aria-hidden="true" style="color: var(--model-color-6)">
      <span class="completion-marker"><%= event.marker.presence || "○" %></span>
    </span>
  </div>
  <%= render "bullets/body", bullet: event %>
  <%= render "bullets/with_menu", bullet: event, bullet_menu_id: "event-bullet-menu-#{event.id}" %>
</div>
