<% if @query.blank? %>
  <p class="search--help">Start typing to search bullets.</p>
<% elsif @bullets.none? %>
  <p class="search--help">No bullets found for "<%= @query %>".</p>
<% else %>
  <%= render "bullets/paginated_list", bullets: @bullets, page: @page %>
<% end %>
