<% if @query.blank? %>
  <p class="search--help">Start typing to search cards.</p>
<% elsif @cards.none? %>
  <p class="search--help">No cards found for "<%= @query %>".</p>
<% else %>
  <%= render "cards/paginated_list", cards: @cards, page: @page %>
<% end %>
