<turbo-frame id="pins_panel">
  <div data-controller="toggle">
    <button data-action="toggle#toggle">
      Pinned (<%= @pinned_cards.size %>)
    </button>
    <div data-toggle-target="content" id="pinned_cards" hidden>
      <% @pinned_cards.each do |card| %>
        <%= render partial: "cards/card", locals: { card: card } %>
      <% end %>
    </div>
  </div>
</turbo-frame>
