<div class="triage-panel">
<div class="triage-repop">
    <%= form_with url: card_pop_path(card), method: :patch do |f| %>
      <%= f.date_field :pops_on, value: card.pops_on %>
      <%= f.submit "Repop" %>
    <% end %>
  </div>

  <div class="triage-archive">
    <%= button_to "Archive", card_archive_path(card), method: :patch %>
  </div>
</div>
