<% content_for(:title) { "Edit card" } %>
<header class="card-form-page-header">
  <%= link_to card_path(@card), class: "button-tertiary card-form-page-header-back", data: { turbo_frame: "_top" } do %>
    <i class="icon" style="--icon-mask: var(--icon-arrow-left)" aria-hidden="true"></i>
    Back
  <% end %>
  <h1 class="card-form-page-header-title">Edit card</h1>
  <%= button_to card_path(@card), method: :delete, class: "button-secondary button-secondary--danger", form: { data: { turbo_confirm: "Are you sure?" } } do %>
    <i class="icon" style="--icon-mask: var(--icon-trash)" aria-hidden="true"></i>
    Delete
  <% end %>
</header>
<%= render "form", card: @card %>
