<% content_for(:title) { "Edit card" } %>
<div class="card-show">
  <nav class="card-show-nav">
    <%= link_to "&larr; Back".html_safe, card_path(@card), class: "card-show-back" %>
  </nav>
  <div class="card-show-content">
    <%= render "form", card: @card %>
  </div>
</div>
