<% content_for(:title) { "Edit card" } %>
<div class="card-show">
  <nav class="show-navigation">
    <%= link_to card_path(@card), class: "show-navigation-back" do %>
      <i class="icon" style="--icon-mask: var(--icon-arrow-left)" aria-hidden="true"></i>
      Back
    <% end %>
  </nav>
  <div class="card-show-content">
    <%= render "form", card: @card %>
  </div>
</div>
