<turbo-frame id="card_form">
  <%= render "form", card: Card.new %>
</turbo-frame>
  <div class="flex slightly-padded slightly-gapped">
    <h2 class="text-sm">Your Drafts</h2>
    <span class="wavy" aria-hidden="true"></span>
    <%= link_to "Triage", drafts_path, class: "text-sm", data: { turbo_frame: "_top" } %>
  </div>
  <div id="draft_cards">
    <%= render @drafts %>
  </div>
<div class="flex slightly-padded slightly-gapped">
  <h2 class="text-sm">Recently Sorted</h2>
  <span class="wavy" aria-hidden="true"></span>
</div>
<%= render "cards/paginated_list", cards: @cards, page: @page %>
