<turbo-frame id="new_card">
  <%= render "form", card: Card.new %>
</turbo-frame>

<div style="display: flex; align-items: center; justify-content: space-between; margin-block: var(--spacing-horizontal-double);">
  <h2>Recently Sorted</h2>
</div>
<%= render "cards/paginated_list", cards: @cards, page: @page %>
