<% content_for(:title) { "New task" } %>
<header class="card-form-page-header">
  <button class="button-tertiary card-form-page-header-back" onclick="history.back()">
    <i class="icon" style="--icon-mask: var(--icon-arrow-left)" aria-hidden="true"></i>
    Back
  </button>
  <h1 class="card-form-page-header-title">New task</h1>
  <div aria-hidden="true"></div>
</header>
<%= render "form", card: @card %>
