<div class="compose-mobile" data-controller="keyboard-toolbar">
  <div class="compose-mobile__header">
    <%= link_to cards_path, class: "compose-mobile__back" do %>
      <i class="icon" style="--icon-mask: var(--icon-arrow-left)" aria-hidden="true"></i>
      Cards
    <% end %>
  </div>

  <div id="new_card">
    <%= render "form", card: @card %>
  </div>
</div>
