@layer components {
  .bulk-menu {
    position: fixed;
    z-index: var(--z-toasts);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-v-half);
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
    padding: var(--space-v) var(--space-h-half);
    bottom: 0;
    background: var(--background-canvas-colour);
    border-top: var(--border-subtle);

    &:not([hidden]) {
      opacity: 1;
      transform: translateY(0);
      transition: transform 120ms ease,
        opacity 120ms ease;

      @starting-style {
        opacity: 0;
        transform: translateY(100%);
      }
    }

    opacity: 0;
    transform: translateY(100%);
    transition: transform 120ms ease,
    opacity 120ms ease,
    display 120ms allow-discrete;

    @container layout (width >=600px) {
      right: var(--space-h);
      top: var(--space-v);
      height: fit-content;
      max-width: 280px;
      box-shadow: var(--shadow-base);
      border: var(--border-subtle);
      border-radius: var(--radius-strong);

      &:not([hidden]) {
        opacity: 1;
        transform: translateX(0);
        transition: transform 120ms ease,
          opacity 120ms ease;

        @starting-style {
          opacity: 0;
          transform: translateX(100%);
        }
      }

      opacity: 0;
      transform: translateX(100%);
      transition: transform 120ms ease,
      opacity 120ms ease,
      display 120ms allow-discrete;
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  .bulk-menu--header> :is(button, .button) {
    flex: 0 0 auto;
    width: fit-content;
    background: var(--color-1);
  }

  .bulk-menu--actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: stretch;
    gap: var(--space-h-half);
    padding: var(--space-v-half) var(--space-h-half);

    @container layout (width >=600px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }


  .bulk-menu--action-button {
    padding: var(--space-v-half) var(--space-h-half);
    width: 100%;
    height: var(--space-v-5);
    min-height: var(--space-v-3);
    padding-inline: var(--space-h);
    gap: var(--space-h-half);
    font-size: var(--font-size-xs);
    text-align: left;
    justify-content: start;

    .icon-wrap {
      width: var(--space-h);
      height: var(--space-h);
    }

    &::after {
      margin-left: auto;
    }
  }

  .bulk-menu--amount {
    width: 100%;
    margin: 0;
    font-weight: 400;
    color: var(--color-invert-4);
    text-align: center;
    padding-bottom: var(--space-v-half);
  }
}