@layer components {
  .activity--layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-double);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
    max-width: var(--breakpoint-tablet);
    width: 100%;
    margin-inline: auto;
  }
  .activity--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h2 {
      font-size: var(--font-size-strong);
      font-weight: var(--font-weight-strong);
      & .project {
        color: var(--model-color-3);
      }
      & .collection {
        color: var(--model-color-4);
      }
    }
  }
  .activity--list {
    display: flex;
    flex-direction: column;
  }
  .activity--item {
    gap: var(--spacing-horizontal-half);
    padding: var(--spacing-vertical) var(--spacing-horizontal-half);
    background: var(--color-bg-subtle);
    margin-block: var(--spacing-vertical-half);
    box-shadow: var(--shadow-subtle);
    &:hover {
      background: var(--color-accent-bg);
    }
  }
  .activity--metadata {
    display: flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
    flex: 1 1 auto;
    margin-top: var(--spacing-vertical-half);
    & time {
      color: var(--color-fg-subtle);
    }
    & span {
      color: var(--color-fg-subtle);
      font-size: var(--font-size-subtle);
      font-weight: var(--font-weight-strong);
      padding: var(--spacing-vertical-half) var(--spacing-horizontal-half);
      background: var(--color-bg-subtle);
      border-radius: var(--radius-strong);
    }
  }
}
