@layer components {
  .activity--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-vertical-half);
    padding-block: var(--spacing-vertical-quad);
  }

  .activity--header-icon {
    width: 5ch !important;
    height: 5ch !important;
  }

  .activity--date {
    margin: 0;
    font-weight: var(--font-weight-strong);
    color: var(--color-fg-subtle);
  }

  .activity--empty {
    margin: 0;
    color: var(--color-fg-subtle);
  }

  .activity--feed {
    min-height: 80dvh;
  }

  .activity--feed-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
  }

  .activity--item {
    align-items: center;
    min-width: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  .activity--subject-name {
    color: var(--color-fg-base);
  }

  .activity--detail {
    margin: 0;
    min-width: 0;
    font-size: var(--font-size-base-read);
    color: var(--color-fg-subtle);
  }

  .activity--time,
  .activity--time-relative {
    min-width: 0;
    color: var(--color-fg-subtle);
  }

  .activity--feed-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
    text-decoration: none;
    color: inherit;
  }

  .activity--show {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
    min-height: 80dvh;
  }

  .activity--show-summary {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-horizontal-half);
  }

  .activity--show-summary-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-half);
    min-width: 0;
  }

  .activity--show-summary-text {
    margin: 0;
    font-size: var(--font-size-base-read);
    color: var(--color-fg-base);
  }
}
