@layer components {
  .archived--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-vertical-half);
    padding-block: var(--spacing-vertical-quad);
  }

  .archived--header-icon {
    width: 5ch !important;
    height: 5ch !important;
  }

  .archived--list {
    min-height: 80dvh;
  }
}
