@layer components {
  .bucket--layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-double);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }
  .bucket--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h2 {
      font-size: var(--font-size-h2);
      font-weight: var(--font-weight-bold);

      font-style: italic;
      text-transform: uppercase;
      & .project {
        color: var(--model-color-3);
      }
      & .collection {
        color: var(--model-color-4);
      }
    }
  }
  .bucket--header-actions {
    display: flex;
    gap: var(--spacing-horizontal-half);
  }
  .bucket--list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
  }
  .bucket--list-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
  }
  .bucket--footer {
    position: sticky;
    bottom: 8px;
  }

  .button-secondary[data-bucket-colour="1"] {
    background: var(--model-color-1-bg);
    border-color: color-mix(in oklch, var(--model-color-1) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="2"] {
    background: var(--model-color-2-bg);
    border-color: color-mix(in oklch, var(--model-color-2) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="3"] {
    background: var(--model-color-3-bg);
    border-color: color-mix(in oklch, var(--model-color-3) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="4"] {
    background: var(--model-color-4-bg);
    border-color: color-mix(in oklch, var(--model-color-4) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="5"] {
    background: var(--model-color-5-bg);
    border-color: color-mix(in oklch, var(--model-color-5) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="6"] {
    background: var(--model-color-6-bg);
    border-color: color-mix(in oklch, var(--model-color-6) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="7"] {
    background: var(--model-color-7-bg);
    border-color: color-mix(in oklch, var(--model-color-7) 40%, var(--color-stroke-base));
  }
  .button-secondary[data-bucket-colour="8"] {
    background: var(--model-color-8-bg);
    border-color: color-mix(in oklch, var(--model-color-8) 40%, var(--color-stroke-base));
  }
}
