@layer components {

  .bucket--section-list-item {
    display: flex;
    gap: var(--space-h-half);
    padding: var(--space-v-half) var(--space-h-half);
    flex: 1;
    text-decoration: none;
    color: inherit;
    background: var(--color-1);
    border: 1px solid var(--color-invert-4);
    border-radius: var(--radius-strong);
    align-items: center;
    height: fit-content;

    & .bucket--section-list-item-icon {
      width: var(--space-h);
      height: var(--space-h);
    }

    &:hover {
      background: var(--color-2);
      border-color: var(--color-invert-4);
    }
  }
}