@layer components {
  .daylog--metadata-grid {
    display: grid;
    gap: var(--space-v);
  }

  .daylog--metadata-item {
    display: flex;
    align-items: center;
    gap: var(--space-h);
    padding: var(--space-v) var(--space-h);
    border: var(--border-subtle);
    border-radius: var(--radius-base);
    background: var(--color-1);
  }

  .daylog--triage-preview {
    pointer-events: auto;
  }
  .daylog--triage-summary {
    & .pill {
      margin-block: var(--space-v-half);
    }
  }
  #daylog_triage_preview {
    width: 100%;
  }

  .daylog--composer {
    border-radius: var(--radius-base);
    border: var(--border-subtle);
    padding: var(--space-v-half);
    background: var(--color-1);
  }

}
