
@layer components {
  .dropdown[popover] {
    position: fixed;
    inset: unset;
    z-index: var(--z-dropdown);

    box-sizing: border-box;
    width: max-content;
    min-width: calc(var(--space-h-4) * 4);

    max-width: min(
      calc(var(--space-h-4) * 10),
      calc(100dvw - (var(--space-h-4) * 2))
    );

    max-height: min(
      calc(var(--space-h-4) * 10),
      calc(100dvh - (var(--space-h-4) * 2))
    );

    margin: var(--space-v-half) var(--space-h-half);
    padding: var(--space-h-half);

    overflow: auto;

    background: var(--color-1);
    border: 1px solid var(--color-invert-2);
    border-radius: var(--radius-strong);
    box-shadow: var(--shadow-base);

    /* Anchor positioning */
    position-area: block-end span-inline-end;

    position-try-fallbacks:
      flip-block,
      flip-inline,
      block-start span-inline-end,
      block-end span-inline-start;

    /* Animation */
    opacity: 0;
    transform: translateY(calc(var(--space-v-half) * -1));

    transition:
      opacity 110ms ease,
      transform 110ms ease,
      display 110ms allow-discrete,
      overlay 110ms allow-discrete;

    &:popover-open {
      opacity: 1;
      transform: translateY(0);

      @starting-style {
        opacity: 0;
        transform: translateY(calc(var(--space-v-half) * -1));
      }
    }
  }

  .dropdown--anchor-inline-start {
    position-area: block-start span-inline-start;
  }

  .dropdown--anchor-inline-end {
    position-area: block-start span-inline-end;
  }
}
