@layer components {
  .features--container {
    column-width: 18rem;
    column-gap: var(--space-v-2);
    padding-block-end: var(--space-v-2);
  }

  .features--card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-v-half);
    padding: var(--space-h) var(--space-h)
      var(--space-h-2);
    border: 1px solid var(--color-invert-4);
    background: var(--color-1);
    border-radius: var(--radius-strong);
    break-inside: avoid;
    margin-block-end: var(--space-v-2);
    --features-card-color: var(--color-accent-1);

    &[data-colour="1"] {
      --features-card-color: var(--model-color-1);
    }
    &[data-colour="2"] {
      --features-card-color: var(--model-color-2);
    }
    &[data-colour="3"] {
      --features-card-color: var(--model-color-3);
    }
    &[data-colour="4"] {
      --features-card-color: var(--model-color-4);
    }
    &[data-colour="5"] {
      --features-card-color: var(--model-color-5);
    }
    &[data-colour="6"] {
      --features-card-color: var(--model-color-6);
    }
    &[data-colour="7"] {
      --features-card-color: var(--model-color-7);
    }
    &[data-colour="8"] {
      --features-card-color: var(--model-color-8);
    }

    h2 {
      display: flex;
      align-items: center;
      gap: var(--space-h-half);
      font-size: var(--font-size-base-read);
      font-weight: var(--font-weight-strong);
      color: var(--color-invert-2);

      &::before {
        content: "";
        flex-shrink: 0;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: var(--radius-full);
        background: var(--features-card-color);
      }
    }

    > p {
      color: var(--color-invert-4);
    }
  }
}
