@layer components {
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-v) var(--space-h);
    pointer-events: none;

    @media (pointer: fine) {
        @container layout (width < 800px) {
            display: none;
        }
    }

    &>* {
        pointer-events: auto;
    }
}
}
