@layer components {
    
    .highlight {
    --highlight-colour: currentColor;
    display: inline-block;
      position: relative;
      &:before {
          content: "";
          display: block;
          position: absolute;
          top: 25%;
          width: 90%;
          height: 50%;
          background: var(--highlight-colour);
          margin-bottom: var(--spacing-vertical-half);
          opacity: var(--opacity-quarter); 
          z-index: 0;
          transform: skew(-10deg);
        }
    }
}