@layer components {
  .hook--created {
    color: var(--color-invert-2);
    background: var(--color-accent-2-subtle);
    border-color: var(--color-accent-2);
  }

  .hook--created-link {
    overflow-wrap: anywhere;
    color: var(--color-accent-2);
  }
}
