@layer layout {
  :root {
    --layout-padding: var(--spacing-vertical) var(--spacing-horizontal);
    --layout-scroll-padding: calc(var(--spacing-vertical-double) + var(--spacing-horizontal-double) + var(--spacing-vertical) + max(var(--spacing-vertical-half), env(safe-area-inset-bottom, 0px)) + var(--spacing-vertical-double));
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }

  .header--logo {
    width: 24px;
    height: 24px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-vertical) var(--spacing-horizontal);
    pointer-events: none;
    & > * {
      pointer-events: auto;
    }
  }

  .layout--page {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
    padding-top: var(--spacing-vertical);
    padding-inline:  var(--spacing-horizontal);
    padding-bottom: var(--layout-scroll-padding);
  }

  .layout--container {
    width: 100%;

    &.layout--container-xl {
      max-width: var(--breakpoint-pc);
      margin-inline: auto;
    }

    &.layout--container-md {
      max-width: var(--breakpoint-laptop);
      margin-inline: auto;
    }

    &.layout--container-sm {
      max-width: var(--breakpoint-tablet);
      margin-inline: auto;
    }

    &.layout--container-xs {
      max-width: var(--breakpoint-mobile);
      margin-inline: auto;
    }
  }

  .layout--flex {
    display: flex;
    gap: var(--spacing-vertical);

    &.layout--justify-between {
      justify-content: space-between;
    }

    &.layout--justify-center {
      justify-content: center;
    }
  }

  .layout--grid {
    --grid-item-size-border: 800px;
    --grid-item-size: 10rem;
    display: grid;

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--grid-item-size)), 1fr));
    }


    &.cols-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.cols-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .layout--grid-item {
    @media (min-width: 800px) {
      &.span-1 {
        grid-column: span 1;
      }

      &.span-2 {
        grid-column: span 2;
      }

      &.span-3 {
        grid-column: span 3;
      }

      &.span-4 {
        grid-column: span 4;
      }
    }
  }

  .layout--gapped {
    gap: var(--spacing-vertical);
  }

  .layout--padded {
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }

  .layout--mx-auto {
    margin-inline: auto;
  }

  .layout--surface {
    border: 0.5px solid var(--color-stroke-base);
    border-radius: var(--radius-strong);
    box-shadow: var(--shadow-subtle);
    @media (min-width: 800px) {
      background: var(--color-bg-subtle);
    }
  }

  .layout--surface-sunken {
    background: var(--color-bg-base);
    border-radius: var(--radius-base);
  }

  .layout--surface-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-vertical-half);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
    border-bottom: 1px solid var(--color-stroke-base);
  }

  .layout--list > * {
    width: 100%;
    margin-block: var(--spacing-vertical-half);
  }

  .layout--list-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
    width: 100%;
  }

  .layout--list-grid {
    & > * {
      width: 100%;
      margin-block: var(--spacing-vertical-half);
      flex: 1;
      flex-shrink: 0;
    }
    @media (min-width: 600px) {
      display: grid;
      height: fit-content;
      align-content: start;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-vertical-half);
      width: 100%;
    }
  }

}