@layer components {
  .person--avatar {
    width: var(--icon-size-base);
    height: var(--icon-size-base);
    border-radius: var(--radius-full);
    object-fit: cover;
    flex-shrink: 0;
  }

  .person--avatar-large {
    width: var(--icon-size-strong);
    height: var(--icon-size-strong);
    border-radius: var(--radius-full);
    object-fit: cover;
    flex-shrink: 0;
  }
}
