@layer components {
  .person--avatar {
    width: var(--icon-size-base);
    height: var(--icon-size-base);
    object-fit: cover;
    flex-shrink: 0;
  }

  .person--handles {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
  }

  .person--handle-rail {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-half);
    padding: var(--spacing-vertical-half);
    border: 1px solid var(--color-stroke-base);
    border-radius: var(--radius-base);
  }

  .person--handle-rail-fields {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-half);
  }

  .person--handle-rail-actions {
    display: flex;
    justify-content: flex-end;
  }

  .person--handles-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-half);
    margin-block-start: var(--spacing-vertical-half);
    list-style: none;
  }

  .person--handle-link {
    color: var(--color-accent-alternative);
    text-decoration: underline;
  }

  .person--handle-text {
    color: var(--color-fg-subtle);
  }
}
