@layer components {
    .picker {
      display: flex;
      flex-direction: column;
    }
  
    .picker--item {
      display: flex;
      align-items: center;
      gap: var(--space-h-half);
  
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: var(--space-v-half) var(--space-h-half);
  
      border: 0;
      border-radius: var(--radius-subtle);
      background: transparent;
      box-shadow: none;
  
      font: inherit;
      font-size: var(--font-size-base-read);
      line-height: inherit;
      text-align: start;
      text-decoration: none;
  
      color: var(--color-invert-2);
      cursor: pointer;
      appearance: none;
  
      @media (hover: hover) {
        &:hover {
          background: var(--color-2);
          color: var(--color-invert-2);
        }
      }
  
      &:focus-visible {
        background: var(--color-2);
        color: var(--color-invert-2);
        outline: none;
      }
  
      &[aria-selected="true"]:focus-visible,
      &[aria-checked="true"]:focus-visible,
      &:checked:focus-visible,
      &.picker--item-current:focus-visible {
        box-shadow: inset 0 0 0 1px var(--color-invert-2);
      }
    }
  }
