@layer components {

  .pills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-vertical-half);
    margin-bottom: var(--spacing-vertical-half);
  }

  .pill {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-vertical-half);
    padding: var(--spacing-vertical-half) var(--spacing-horizontal-half);
    background: var(--model-color-1-bg);
    color: var(--color-fg-base);
    border-radius: var(--radius-strong);
    font-size: var(--font-size-subtle);
    font-weight: var(--font-weight-base);

    &.pill--date,
    &.pill--type,
    &.pill--status {
      background: var(--color-bg-subtle);
      border: 1px solid var(--color-stroke-base);
      font-weight: var(--font-weight-base);
    }

    &.pill--type .icon,
    &.pill--status .icon {
      width: var(--font-size-subtle);
      height: var(--font-size-subtle);
    }

    &.pill--status {
      padding-inline: var(--spacing-vertical-half);
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      font-size: var(--font-size-base);
      color: inherit;
    }
  }

}
