@layer components {
  .pinned--dock {
    display: flex;
    position: relative;
    width: fit-content;
    margin: var(--spacing-vertical) 0;
  }

  .pinned--bucket-summary {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
    max-width: min(
      calc(var(--spacing-horizontal-double) * 8),
      calc(50dvw - var(--spacing-horizontal-double))
    );
  }

  .pinned--list-header .bucket--list-item-name h2 {
    font-size: var(--font-size-base);
  }

  .pinned--list {
    position: fixed;
    inset: unset;
    position-anchor: --footer;
    position-area: block-start center;
    width: min(
      calc(var(--spacing-horizontal-double) * 16),
      calc(100dvw - var(--spacing-horizontal-double))
    );
    max-height: min(
      calc(var(--spacing-horizontal-double) * 14),
      calc(100dvh - var(--spacing-horizontal-double) * 5)
    );
    margin-bottom: var(--spacing-vertical-half);
    overflow: auto;
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-stroke-base);
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-elevated);
  }

  .pinned--list-header {
    position: sticky;
    top: 0px;
    z-index: var(--z-dialog-backdrop);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-base);
    gap: var(--spacing-horizontal);
    padding: var(--spacing-horizontal-half);
    border-bottom: 1px solid var(--color-stroke-base);
    & h2 {
      font-size: var(--font-size-base);
    }
  }
}
