@layer components {
  .published--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-vertical-half);
    padding-block: var(--spacing-vertical-quad);
  }

  .published--header-icon {
    width: 5ch !important;
    height: 5ch !important;
  }

  .published--list {
    min-height: 80dvh;
  }

  .published--empty {
    text-align: center;
    color: var(--color-fg-subtle);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }
}
