@layer components {
  .search--layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical);
    padding: var(--spacing-vertical) var(--spacing-horizontal);
  }

  .search--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .search--form {
    display: flex;
    flex-direction: column;
  }

  .search--textform {
    width: 100%;
    border: 1px solid var(--color-stroke-base);
    border-radius: var(--radius-pill);
    background: var(--color-bg-elevated);
    color: var(--color-fg-base);
    padding: var(--spacing-vertical-half) var(--spacing-horizontal);
  }
}
