@layer components {
  .timeline--section {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: var(--space-v);
  }

  .timeline--section:not(:has(.bullet)) {
    display: none;
  }

  .timeline--section > .pill,
  .timeline--upcoming-link { align-self: center; }


}
