@layer components {
  .tracker--heatmap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: var(--space-v);
    & .tracker--heatmap-cell {
      aspect-ratio: 1;
      background-color: var(--color-1);
      border-radius: var(--radius-base);
      border: var(--border-subtle);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-medium);
      width: var(--space-h-3);
      height: var(--space-h-3);
      & .tracker--heatmap-cell-button {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        border: 0;
        color: var(--color-invert-4);
        cursor: pointer;
        &[data-completed="true"] {
          background-color: var(--color-accent-1);
          color: var(--color-1);
        }
        &[data-completed="false"] {
          background-color: var(--color-1);
        }
        &[data-completed="false"]:hover,
        &[data-completed="false"]:focus-visible {
          background-color: var(--color-2);
          color: var(--color-accent-1);
        }
      }
    }

    & .tracker--heatmap-cell-disabled {
      color: var(--color-invert-4);
      opacity: var(--opacity-half);
    }

    & .tracker--heatmap-cell-current {
      border-color: var(--color-accent-1);
    }

    & .tracker--heatmap-date-label {
      display: grid;
      place-items: center;
    }

    & .tracker--heatmap-weekday {
      font-size: var(--font-size-2xs);
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
    }

    & .tracker--heatmap-day {
      font-size: var(--font-size-base-type);
      font-weight: var(--font-weight-strong);
    }
  }
}
