@layer components {
 

  .triage--chip {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-h-half);
    height: var(--space-v-2);
    width: var(--space-h-3);
    border: none;
    border-radius: var(--radius-strong);
    background: var(--color-accent-1);
    color: var(--color-invert-1);
    text-decoration: none;
    overflow: hidden;
    &:hover {
      background: var(--color-accent-1-subtle);
    }
  }

  .triage--author {
    color: var(--color-invert-4);
    margin: 0;
  }

  .triage--actions {
    display: flex;
    align-items: center;
    gap: var(--space-h-half);
    margin-inline-start: calc(var(--space-v) + var(--space-h-half));
  }

  .triage--action-form {
    display: inline-flex;
  }

  .triage--bullet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-v-half);
    background: var(--color-1);
    border: 1px solid var(--color-invert-2);
    border-radius: var(--radius-strong);
    padding: var(--space-v-half);
  }

  .triage--action {
    padding: 0 var(--space-h-half);
    font-size: var(--font-size-xs);
    color: var(--color-invert-4);
    gap: 0.15rem;

    .icon {
      width: var(--space-v);
      height: var(--space-v);
    }
  }

  .triage--no-bullets {
    text-align: center;
    color: var(--color-invert-4);
    padding: var(--space-v) var(--space-h);
  }
}
