.typography--h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-strong);
}

.typography--h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-strong);
}

.typography--paragraph-md {
  font-size: var(--font-size-md);
  color: var(--color-fg-base);
}
.typography--paragraph-sm {
  font-size: var(--font-size-xs); 
  color: var(--color-fg-subtle);
}
.typography--center {
  text-align: center;
}
.typography--justify {
  text-align: justify;
}
.typography--bold {
  font-weight: var(--font-weight-strong);
}
.typography--italic {
  font-style: italic;
}