@layer utilities {
.typography--h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-strong);
}

.typography--h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-strong);
}
.typography--paragraph-md {
  font-size: var(--font-size-base-read);
  color: var(--color-invert-2);
}
.typography--paragraph-sm {
  font-size: var(--font-size-xs); 
  color: var(--color-invert-4);
}
.typography--center {
  text-align: center;
}
.typography--sans {
  font-family: var(--font-family-sans);
}
.typography--mono {
  font-family: var(--font-family-mono);
}
.typography--balanced {
  text-wrap: balance;
}
.typography--bold {
  font-weight: var(--font-weight-strong);
}
.typography--italic {
  font-style: italic;
}
.typography--line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.typography--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
