@layer utilities {
  .utilities--sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }

  .utilities--line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .utilities--text-sm {
    font-size: var(--font-size-subtle);
  }

  .utilities--handwriting {
    font-family: var(--font-family-base);
    font-variation-settings: "CRSV" 1, "slnt" -10;
  }

  @keyframes spin {
    to {
      rotate: 360deg;
    }
  }

  @keyframes popout {
    from {
      opacity: 0;
      scale: 0.88;
    }
    40% {
      scale: 1.04;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
}
