@layer components {
  .voice-recorder {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-vertical-half);
  }

  .voice-recorder--unsupported {
    color: var(--color-fg-subtle);
  }

  .voice-recorder--controls {
    display: flex;
    align-items: center;
    gap: var(--spacing-horizontal-half);
    flex: 0 0 auto;
    width: 100%;
    border: 1px solid var(--color-stroke-base);
    border-radius: var(--radius-base);
    padding: var(--spacing-horizontal-half);
  }
}
